@model Product

@{
    ViewBag.Title = "Edit";
}



<form id="editTable">
    <h2>Edit product</h2>
    <input name="ID"value="@Model.ID" type="hidden"/>

    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description"value="@Model.Description" />
    <br />
    <label>Price</label>
    <input name="Price"value="@Model.Price" />

    <button id="updateBtn" type="button">Update</button>

</form>
<script>
    $("#updateBtn").click(function () {

        $.ajax({
                type:"POST",
                url: 'Product/edit',
                data: $("#editTable").serialize()

            })
            .done(function (response) {
                $("#tableContainer").html(response),
                    $("#createTable").html("");
            })
            .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });
</script>
