
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("ProductTable");
        }


    </div>

    <hr/>
    <div id="actionTable">
    
    </div>
</div>
