
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form id="createTable">
    <div class="row">
        <div class="col-md-8">
            <label>Name</label>
            <input name="Name" />
            <br />
            <label>Description</label>
            <input name="Description" />
            <br />
            <label>Image</label>
            <input id="ImageURL" name="ImageURL" type="hidden" />
            <input id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
            
            <br />
            <label>Is Featured ?</label>
            <input name="isFeatured" type="radio" value="True" />True
            <input name="isFeatured" type="radio" value="False" />False
            <br />

            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>

        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="categoryImage" />
            </div>
            </div>
    </div>


</form>
<script>
    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
                type: 'POST',
                url: '@Url.Action("UploadImage", "Shared")',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
            .done(function (response) {
                console.log(response);

                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
    $("#saveBtn").click(function () {

        $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Category")',
                data: $("#createTable").serialize()


            })
            .done(function (response) {
                $("#tableContainer").html(response),
                    $("#createTable").html("");
                focusAction("tableContiner");
            })
            .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });
    $("#cancelBtn").click(function () {
        $("#actionTable").html("");
        focusAction("tableContiner");
    });
</script>
