
@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("CategoryTable");
        }


    </div>

    <hr />
    <div id="actionTable">

    </div>
</div>
<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>